$gradient: linear-gradient(to right, #cfa8e9, #ecabd9, #fcb3c9, #ffbebf, #ffccbc, #ffcbbe, #ffcac1, #ffc9c3, #fbbcd0, #e6b6e4, #bbb6f6, #75bafb);
$gradient-btn: linear-gradient(to right, #cfa8e9, #a46ec8);
$gradient-btn-hover: linear-gradient(to right, #a46ec8, #9250be);
$gradient-btn-active: linear-gradient(to right, #6c3a8e, #4c206a);

body {
    // background: linear-gradient(to right, red, yellow);
    background-image: $gradient;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    // border: 2px solid black; // remove this after the design for this page is complete
    border-radius: 40px;
    width: 50%;
    overflow: hidden;
    background: rgba($color: #ffffff, $alpha: 0.3);
    .login-image {
    };
    .form-container {
        margin: auto;
    }
    .link {
        text-decoration: none;
        color: #b24ef5;
    }
    .btn-login {
        background: $gradient-btn;
        color: white !important;
    }
    .btn-login:active {
        background: $gradient-btn-active !important;
        border: none;
    }
    .btn-login:focus {
        border: none;
    }
    .btn-login:hover {
        background: $gradient-btn-hover;
    }
}