.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: black;
    color: white;
    padding: 30px 24px 25px;
    // width: 100%;
    // padding-top: 20px;
    // padding-bottom: 25px;

}

// .logo {
    // margin-left: 20px;
    // border: 2px solid white;
    
// }

.menu {
    // padding-top: 100px;
    .link {
        position: relative; // Add relative positioning to the parent
        text-decoration: none !important;
        color: white;
        margin-right: 10px;
        margin-left: 10px;
        padding-bottom: 25px;
    
        // Use ::after to create a pseudo-element for the border
        &.active::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -2px; // Adjust as needed to place the border below the text
            width: 100%;
            height: 4px;
            background: white;
            border-radius: 2px; // This makes the edges rounded
        }
      }
}

.userSection {
    .userSectionIcon {
        margin-right: 20px;
        cursor: pointer;
        // display: flex;
        // flex-direction: row;
        // justify-content: space-around;
    }
}

.loginBtn, .signupBtn {
    text-decoration: none;
    border-radius: 100px;
    padding: 12px 24px;
    margin-left: 10px;
    cursor: pointer;
}
.signupBtn {
    color: black;
    background: white;
}

.loginBtn {
    color: white;
    border: 1px solid white;
}