.findJob {
    display: flex;
    max-height: 100px;
    // width: 100%;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    background: black;
    .mySelect {
        margin-left: 10px;
    }
}
.option {
    color: white;
    // background: blue;
    select {
        background: black;
        color: white;
        border: none;
        max-width: 200px;
    }
}

.slider {
    color: white;
}

.line {
    height: 40px;
}

.bodyContainer {
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow-y: scroll;
}

.rec {
    display: flex;
    flex-direction: row;
    align-items: center
}


@media screen and (max-width: 620px) {
    .bodyContainer {
        flex-direction: column;
    }
    .cardsContainer {
        height: 100vh;
        // background: red;
        margin-left: auto;
        margin-right: auto;
    }
    .rec {
        justify-content: center;
    }
    .cards {
        // background: red;
        display: flex;
        justify-content: center;
    }
}