@use '../../../assets/variables.scss' as v;

// .container {
//     display: flex;
//     flex-direction: column;
// }

.container {
    // display: flex;
    // flex-direction: row;
    // align-items: center;
    width: 60%;
    height: 'fit-content';
    min-height: 75vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding-top: 25px;
    padding-left: 40px;
    padding-right: 40px;
    background: white;
    position: relative;
    border-radius: v.$myBorderRadius;
    .left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // background: green;
        .heading {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            .title {
                // background: #daeae7;
                border-radius: v.$myBorderRadius;
            }
        }
        hr {
            display: inline-block;
            width: 50%;
        }
    }
    .line {
        height: 80%;

    }
    .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.mySelect {
    width: 100%;
    padding: 10px 10px 10px 10px;
    border: none;
    border-radius: 20px;
    color: white;
    background: black;
    font-weight: 500;
}

.left {
    // margin-left: 10px !important;
}

.image {
    // width: 100px !important;
}