$dark: rgb(24, 23, 23);

.my-input, .my-input .ant-input {
  background: black;
  color: white;
}

.my-input {
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: 3px;
}

.my-input .ant-input::placeholder {
  color: white;
}

body {
  background: #676767;
}
